:root {
    --white: white;
}
body{
    background-color: rgb(98, 106, 254);
    font-family: 'Roboto', sans-serif;
}
.main-wrapper {
    height: 100vh;
}
header, footer {
    width: 100%;
    background-color: var(--white);
    padding: 0 20px;
}
header{
    height: 80px;
}
main{
    height: calc(100vh - 130px);
    overflow-y: hidden;
}
footer{
    height: 50px;
    line-height: 50px;
}